$orange: #f69520;
$white: #fff;
$secondary: #666;
$black: #000;

header {
    .lab-nav {
        nav {
            background: $orange !important;
            .uk-navbar-left {
                ul {
                    li {
                        margin-left: 100px !important;
                        a {
                            color: $white;
                        }
                    }
                }
            }
            .uk-navbar-right {
                ul {
                    li {
                        a {
                            color: $white !important;
                        }
                    }
                    li:last-child {
                        margin-right: 100px !important;
                    }
                }
            }
        }
    }
}
.slider {
    .upper {
        img {
            width: 100%;
            position: absolute;
            z-index: 1;
        }
    }
    .middle {
        overflow: hidden;
        p {
            margin-top: 1060px !important;
            font-size: 40px;
            font-weight: bolder;
            color: $secondary;
            span {
                color: $orange;
                font-weight: inherit;
            }
        }
        img {
            z-index: 0;
            transform: translateX(0%);
            width: 100%;
        }
    }
    .bottom {
        img {
            width: 100%;
            position: absolute;
            transform: rotate(180deg);
            margin-top: -40px;
        }
    }
}
