$orange: #f69520;
$white: #fff;
$secondary: #666;
$black: #000;

header {
    .lab-nav {
        nav {
            background: $orange !important;
            .uk-navbar-left {
                ul {
                    li {
                        margin-left: 100px !important;
                        a {
                            color: $white;
                        }
                    }
                }
            }
            .uk-navbar-right {
                ul {
                    li {
                        a {
                            color: $white !important;
                        }
                    }
                    li:last-child {
                        margin-right: 100px !important;
                    }
                }
            }
        }
    }
    .mob-nav {
        display: none;
        .bg-light {
            background-color: $orange !important;
            a {
                color: $white;
            }
            .collapse {
                ul {
                    li {
                        a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
.slider {
    transition: all 0.4s ease-in-out;
    .upper {
        img {
            width: 100%;
            position: absolute;
            z-index: 1;
        }
    }
    .middle {
        overflow: hidden;

        .TitleMargin {
            .uk-position-center {
                top: 90%;
                transition: all 0.5s ease-in-out;
                opacity: 0;
                p {
                    font-size: 40px;
                    font-weight: bolder;
                    color: $secondary;
                    span {
                        color: $orange;
                        font-weight: inherit;
                    }
                }
            }
        }
        img {
            transition: all 0.3s ease-in-out;
            z-index: 0;
            transform: translateX(0%);
            width: 100%;
        }
        &:hover {
            img {
                transform: translate3d(0%, -25.65%, 0px) scale(1.57);
            }
            .uk-position-center {
                top: 50%;
                opacity: 1;
            }
        }
    }
    .bottom {
        img {
            width: 100%;
            position: absolute;
            transform: rotate(180deg);
            margin-top: -40px;
        }
    }
}
.cake {
    .cake-sec {
        padding: 100px 0px;
        font-weight: bold;
        h2,
        p {
            margin-top: -50px;
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }
        h2 {
            color: $orange;
        }
        p {
            justify-content: center;
            color: $secondary;
            font-size: 20px;
        }
        img {
            margin-top: 50px;
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }
    }
    &:hover {
        h2,
        p {
            margin-top: 0;
            opacity: 1;
        }
        img {
            margin-top: 0;
            opacity: 1;
        }
    }
}
.fruits {
    .fupper {
        img {
            width: 100%;
            position: absolute;
            z-index: 1;
        }
    }
    .fmiddle {
        overflow: hidden;
        .fruitsMargin {
            z-index: 1;
            position: absolute;
            margin: -235px auto;
            width: 100%;
            .fruits-hover {
                opacity: 0;
                margin-top: 50px;
                transition: all 0.5s ease-in-out;
                font-weight: bold;
                h3 {
                    color: $orange;
                }
                p {
                    font-size: 40px;
                    font-weight: bolder;
                    color: $secondary;
                }
            }
        }
        img {
            transition: all 0.3s ease-in-out;
            z-index: 0;
            width: 100%;
            transform: translateY(10%);
        }
        &:hover {
            #fruit-img {
                transform: translate3d(0%, 13.35%, 0px) scale(1.27);
            }
            .fruits-hover {
                margin-top: 0;
                opacity: 1;
            }
        }
    }
}
.sandwich {
    
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
}
@media (max-width: 650px) {
    header {
        .lab-nav {
            display: none;
        }
        .mob-nav {
            display: block;
        }
    }
    .slider {
        .upper {
            img {
                transform: translateY(126%) scale(3.57);
            }
        }
        .middle {
            img {
                height: 35vh;
            }
            .TitleMargin {
                .uk-position-center {
                    top: 40%;
                    p {
                        font-size: 16px;
                    }
                }
            }
            &:hover {
                .uk-position-center {
                    top: 26%;
                }
            }
        }
        .bottom {
            img {
                transform: translateY(126%) scale(3.57) rotate(180deg);
            }
        }
    }
    .cake {
        .offset-md-2 {
            display: none;
        }
        .cake-sec {
            padding: 20px 10px;
            text-align: center;
            h2,
            p {
                font-size: 18px;
            }
            h2 {
                font-weight: bolder;
            }
            img {
                width: 80%;
            }
        }
    }
    .fruits {
        .fupper {
            img {
                transform: translateY(54%) scale(2.07);
            }
        }
        .fmiddle {
            #fruit-img {
                width: 100%;
                height: 170px;
                transform: translateY(20%);
            }
            .fruitsMargin {
                margin: -80px auto;
                .fruits-hover {
                    h3,
                    p {
                        font-size: 15px;
                        font-weight: bolder;
                    }
                }
            }
        }
    }

}
